.hr-body{
    background: rgb(245, 248, 250);
    /* height: calc(100vh - 120px); */
    min-height: 100vh;
    margin: 5px 20px;
    display: flex;
    gap: 50px;
    /* overflow: auto; */
    margin-bottom: 35px;
    padding-bottom: 100px;
}

.hr-info, .employment-info, .contract{
    background-color: white;
    box-shadow: 1px 1px 1px rgb(245, 248, 250);
    padding: 16px 20px;
}

.hr-info{
    /* height: 60%; */
}

.contract{
    /* height: 35%; */
}

.employment-info{
    /* width: 100%; */
    height: max-content;
}

.hr-section{
    
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hr-action-footer{
    background-color: rgb(245, 248, 250);
    border-top: 1px solid rgb(203, 214, 226);
    padding: 1rem 140px 1rem 3.25rem;
    position: fixed;
    height: 42.5px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    z-index: 999;
    width: -webkit-fill-available;
    top: 90vh;
}

.ant-select-selection-search input{
    padding-bottom: 20px !important;
}