.detailPageTab .ant-tabs-tab{
    background-color: rgb(234, 240, 246) !important;
}

.detailPageTab .ant-tabs-tab-active{
    background-color: rgb(245, 248, 250) !important;
}

.overview-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
    border-radius: 3px;
    margin-bottom: 16px;
}

.overview-header{
    padding: 24px 24px 24px;
}



.detailPageTab .ant-tabs-content-holder{
    padding-right: 16px;
    margin-top: -16px;
    padding-top: 3%;
    min-height: 100vh;
    /* max-height: calc(100vh - 130px);
    overflow-y: auto; */
}

.detailActivityTab .ant-tabs-content-holder{
    padding-right: 16px;
    margin-top: -16px;
    max-height: 100vh !important;
    height: 100vh !important;
    overflow-y: auto;
    padding-top: 3%;
}

.overview-body{
    padding: 4px 24px;
    padding-top: 0px;
}

.overviewList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    list-style: none;
    padding-left: 0 !important;
}

.overviewList li{
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.2px;
}

.f16{
    font-size: 16px;
    letter-spacing: 0.2px;
}

.detailActivityTab .ant-tabs-nav-list{
    border-top: 0 !important;
    border-radius: 0 !important;
}

.detailActivityTab .ant-tabs-tab {
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    background-color: transparent !important;
    width: 98px !important;
}

.detailActivityTab .ant-tabs-tab:nth-last-child(2){
    border-right: 0 !important;
}

.detailPage-activity-filter{
    display: flex;
    margin-top: 16px;
    column-gap: 25px;
}

.month-stage{
    margin: 16px 0px;
    font-size: 16px;
}

.activity-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(45, 62, 80, 0.12) 0px 1px 5px 0px;
    border-radius: 3px;
    margin-bottom: 16px;
}

.activity-card-header{
    padding-left: 36px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    
}

.middle-note-btn{
    background-color: #425b76;
    border-color: #425b76;
    color: #fff;

    font-size: 12px;
    line-height: 14px;
    padding: 8px 16px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    /* position: absolute; */
}

.middle-btn-wrapper{
    display: flex;
    flex-direction: row-reverse;
}

.middle-note-btn:hover{
    background-color: #516f90;
    border-color: #516f90;
    color: #fff;
    cursor: pointer;
}

.notes-list-main{
    margin-top: 18px;
}

.note-list{
    padding: 16px;
    margin:16px 0;
    background-color: white;
}

.note-list-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.note-header-left{
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.note-header-left:hover{
    cursor: pointer;
    color: #0091ae;
}



.note-list-header svg{
    transform: scale(0.8);
}

.notePopover .popoverdataitem{
    width: 130px !important;
}

.notePopover  .ant-popover-inner{
    padding: 12px 0px !important
}

.popoverHeadText{
    color: #0091ae;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.4px;
}

.note-header-right{
    display: flex;
    column-gap: 10px;
}

.comment-icon{
    color: rgb(124, 152, 182);
    cursor: pointer;
}

.note-list-body{
    margin-left: 22px;
    margin-top: 7px;
    margin-bottom: -3px;
    padding: 8px 0px 8px 35px;
}

.note-body-main{
    
    padding: 8px 0px 8px 35px;
}

/* .note-list-body:hover{
    border: 1px solid rgb(127, 209, 222);
    background-color: rgb(229, 245, 248);
} */



.note-list-content{
    margin-left: -24px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-list-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #0091ae;
    letter-spacing: 0.4;
    padding: 0 0 0 20px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.note-list-footer svg{
    color: rgb(124, 152, 182);
}

.note-list-footer span:hover{
    cursor: pointer;
    color: #516f90;
}

.note-inner-body .editFieldTabs :where(.css-dev-only-do-not-override-12jzuas).ant-collapse .ant-collapse-content>.ant-collapse-content-box{
    padding: 0 !important;
}

.notes-list-main  .ant-collapse-arrow {
    display: none !important;
}

.comment-section{
    margin-left: 13px;
    display: flex;
    column-gap: 15px;
}

.commenteditorToolbar{
    position: absolute;
    margin-bottom: 0px;
    background-color: transparent;
    z-index: 9;
}

.commenteditorToolbar div, .noteEditToolbar div{
    background-color: transparent !important;
}

.comment-editor-container{
    overflow: auto;
    padding: 0px 10px;
    padding-top: -5px;
    margin-bottom: 28px;
    min-height: 200px;
}

.noteEditToolbar{
    position: absolute;
    margin-bottom: 0px;
    background-color: transparent;
    z-index: 9;
}