.dropzone {
    border: 2px dashed #e9e9e9;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: border-color 0.24s ease-in-out;
  }
  
  .dropzone:hover {
    border-color: #1890ff;
  }
  
  .ant-upload-text {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.85);
  }
  
  .ant-upload-drag-icon {
    color: rgba(0, 0, 0, 0.85);
    font-size: 32px;
  }
  
  .skillSelect .ant-select-selection-search{
    padding-top: 25px !important;
  }

  .skillSelect .ant-select-selection-search input{
    margin-top: 4px !important;
  }

  .skill-action-btn{
    display:flex;
    column-gap:20px;
    align-items:center;
    color:#0091ae;
    cursor: pointer;
  }

  .skill-action-btn svg:hover{
    color: rgba(0, 164, 189, 0.8);
  }