.post-header{
    border: 1px solid #ECEFEC;
    padding: 9px 26px;
    border-radius: 20px;
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.post-avatar .ant-avatar-string{
    line-height: 50px !important;
    font-size: 12px;
}

.post-body{
    margin-top: 25px;
}

.post-body-item{
    border: 1px solid #ECEFEC;
    padding: 9px 26px;
    border-radius: 20px;
}

.poster{
    display: flex;
    justify-content: space-between;
    align-items: center;
}