.userTab .create-btn{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 12px;
}

.generate-password{
    direction: rtl;
    font-weight: 300;
}
.generate-password:hover{
    text-decoration: underline;
    cursor: pointer;
}

.copy-password:hover{
    transform: scale(1.05);
    cursor: pointer;
}





/* table hover row setting */
.userCreationTable :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper tfoot>tr>td{
    height: 70px !important;
}