

.emp-rightsidebar-wrapper{
    padding-right: 0px;
    max-height: calc(100vh - 134px);
    overflow-y: auto;
    background-color: rgb(245, 248, 250) !important;
    padding-top: 5%;
}

.emp-rightsidebar-wrapper div{
    display: flex !important;
    flex-direction: column !important;
    /* column-gap: 26px !important; */
    row-gap: 5px !important;
}

.rightSideItem div{
    padding: 6px 6px;
    background-color: white !important;
    border: 0px !important ;
    box-shadow: 0 0 15px rgba(0,0,0,.19);
    margin-bottom: 15%;
    display: block !important;
}


.rightItem{
    box-shadow: none !important;
    margin-bottom: 0 !important;
    align-items: center;
}

.callItem{
    display: flex;
    row-gap: 10px;
    flex-direction: column; 
    align-items: center;
    border-right: 1px solid rgba(0,0,0,.19);
    padding-right: 16px;
}

#chart{
    width: 40%;
    margin-left: -15px;
    margin-top: -26%;
}

#chart div{
    box-shadow: none !important;
    height: 50px !important;
    margin: 0;
    min-height: 50px !important;
}

.apexcharts-text {
    font-size: 12px;
    font-weight: normal;
    margin-top: 40px;
    fill: #333; /* Text color */
    /* Add other styling properties as needed */
}

.rightCollapseBtn{
    width: 15px;
    position: absolute;
    margin-top: 10px;
    background: rgba(0,0,0,.49);
    padding: 15px;
    border-radius: 50%;
    margin-left: -16px;
    cursor: pointer;
    animation: shake 3s ease 1 forwards;
}

.rightCollapseBtn svg{
    color: white;
    font-size: 14px;
}


@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60%, 100% { transform: translateX(-10px) rotate(-5deg); }
    40%, 80% { transform: translateX(10px) rotate(5deg); }
  }