.skill-btn-section{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.otherOption{
    color:#0091ae
}

.otherOption:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* search field in dropdown */
.skillFieldType .ant-select-selection-search input{
    margin-top: 6% !important;
}

.maxWidthSkillFieldType .ant-select-selection-search input{
    margin-top: 4% !important;
} 