.action-footer{
    background-color: rgb(245, 248, 250);
    border-top: 1px solid rgb(203, 214, 226);
    padding: 1rem 140px 1rem 3.25rem;
    position: relative;
    /* margin-top: -78px; */
    overflow: hidden;
    height: 45.5px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}