.custom-dot {
  border-width: 2px;
  border-color: #cbd6e2;
  border-style: solid;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  margin-top: -29%;
}

  
.custom-icon-active {
  border-color: #ff7a59;
}

.custom-icon-finished{
  border-color: #ff7a59;
  background-color: rgb(255, 122, 89);
}

.custom-icon-finished::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(-48%, -79%) rotate(45deg);
    width: 3px;
    height: 7px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}


.ant-steps-item-finish .ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #ff7a59 !important;
}

.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #cbd6e2 !important;
}

.ant-steps.ant-steps-dot .ant-steps-item-tail::after {
  width: calc(100% - 15px) !important;
  height: 2px !important;
  margin-inline-start: 12px !important;
}

.ant-steps.ant-steps-dot .ant-steps-item-tail{
  margin-top: 2px;
}

.fieldDrawer .ant-drawer-body{
  padding: 26px 0px !important;
}

.fieldDrawer .ant-drawer-body{
  overflow-x: hidden;
}

.ant-drawer-wrapper-body{
  overflow-x: hidden;
}

.ant-steps-item-title{
  font-weight: 500;
  font-size: 11px !important;
  color: #33475b !important;
  text-align: center !important;
  text-transform: uppercase !important;
  word-wrap: break-word !important;
  user-select: none;
}

.stepperBody{
  padding: 19px 40px;
}


/* basic info component css */

.ant-select-dropdown{box-shadow: none !important;}
.ant-select-dropdown {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.ant-select-dropdown::-webkit-scrollbar {
    width: 5px;
}

.ant-select-dropdown::-webkit-scrollbar-track {
    background: transparent;
}

.ant-select-dropdown::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.ant-select-selector{
    height: 40px !important;
    border-radius: inherit !important;
    padding-top: 2% !important;
    margin-top: 2% !important;
}

.ant-select-selector input{
    margin-top: 3% !important;
}

.dropdowncaret {
  border: 0.375em solid transparent;
  display: inline-block;
  vertical-align: middle;
  border-top-color: #00a4bd;
  margin-top: 0px;
}

.ant-select-arrow{
  margin-top: 0px !important;
}

.step2 .ant-select-arrow{
  top: 59% !important
}

.custom-select{
  border-radius: 3px;
  margin-top: -1%;
}
.step2 .ant-select-selection-item{
  margin-top: -10px;
}

.rc-virtual-list-scrollbar{
  right: -4px !important;
}

.rc-virtual-list-scrollbar-show{
  display: inherit !important;
}


.custom-select .ant-select-selector{
  background-color: #f5f8fa !important;
  
}


/* table footer */
.table-footer{
  display: flex;
  column-gap: 30px;
  font-size: 14px !important;
  font-weight: 500;
  color: #0091ae;
  align-items: center;
}

.table-footer svg{
  color: #7c98b6;
}

.table-footer span:hover{
  text-decoration: underline;
  cursor: pointer;
}


.custom-select .ant-select-selector:hover{
  border-color: #cbd6e2 !important;
}

.custom-select.ant-select-focused .ant-select-selector{
  border-color: rgba(0,208,228,.5) !important;
  box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4 !important;
  outline: 0;
  background-color: #f5f8fa !important;
}

.rc-virtual-list{
  position: relative !important;
  width: 100% !important;
  /* width: 527px !important; */
  margin-left: -2% !important;
  padding: 8px 4px !important;
}

.ant-select-item-option{
  background-color: white !important;
  padding: 12px 15px !important;
}

.ant-select-item-option:hover{
  background-color: #e5f5f8 !important;
}

.ant-select-dropdown{
  border-radius: 3px !important;
  box-shadow: 0 1px 24px 0 rgba(0,0,0,.08) !important;
  background-color: #fff !important;
  border: 1px solid #cbd6e2 !important;
}

.ant-select-item-option-selected{
  background-color: #e5f5f8 !important;
}

.ant-select-item-option:hover + .ant-select-item-option{
  background-color: none !important;
  background: none !important;
}

.ant-select-selection-item{
  margin-top: -1%;
}

/* stepper body input control */
.ant-form-item{
  margin-bottom: 10px !important;
}

.next-btn-icon{
  font-size: 11px;
  margin-left: 0.5em;
}

.drawer-btn{  
  background-color:transparent;
  border-color: rgb(255, 122, 89);
  color: #0091ae;
  font-size: 14px;
  line-height: 16px;
  padding: 11px 24px;
  font-weight: 600;
  border-radius: 3px;
  border-style: solid;
  border-width: 0px;
  
  text-align: center;
  user-select: none;
  transition: all 0.15s ease-out 0s;
}

.drawer-btn:hover{
  cursor: pointer;
}


/* Field Type */
.label{
  text-align: center;
  margin-top: -20px !important;
}

.label h4{
  font-weight: 700;
}

.ant-select-item-group{
  font-weight: 600 !important;
  font-size: 14px !important;
  color: black !important;

}

.ant-select-item-option-content{
  padding-left: 3% !important;
}


/* field type placeholder placement */
.ant-select-selection-placeholder{
  margin-top: -1%;
}


.preview-box{
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(223, 227, 235);
  margin-top: 10px;
  padding: 32px;
}

.floated-label-input {
  position: relative;
  margin-bottom: 24px;
}

.floated-label-input label {
  position: absolute;
  top: 8px;
  left: 12px;
  pointer-events: none;
  transition: 0.3s;
  font-size: 14px;
  color: #999;
}

.floated-label-input label.floated {
  top: -12px;
  font-size: 12px;
  color: #1890ff;
}

.floated-label-input input {
  padding: 12px;
}

.customizedTable th{
  font-size: 11px;
}

.customizedTable :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child{
  border-start-start-radius: 0px;
  text-align: center;
}

.customizedTable .ant-table-title{
  width: -webkit-fill-available;
  position: absolute;
  margin-top: 6px;
  background: rgb(245, 248, 250);
  z-index: 23;
  margin-left: 5%;
  padding: 7px 16px;
  opacity: 1 !important;
  left: 30px !important;
}

.ant-switch.ant-switch-checked {
  background: rgb(0, 164, 189) !important;
}

.ant-switch.ant-switch-checked .ant-switch-handle {
  width: 27px !important;
  height: 27px !important;
  border-color: rgb(0, 164, 189) !important;
  border: 2px soild rgb(0, 164, 189) !important;
  top:-6% !important;
}


.ant-switch .ant-switch-handle {
  width: 25px !important;
  height: 25px !important;
  border-color: rgb(0, 164, 189) !important;
  border: 2px soild rgb(0, 164, 189) !important;
  top:-4% !important;
  left: -1% ;
}

.ant-switch {
  min-width: 50px !important;
  height: 25px !important;
  border-radius: 5px !important;
  background: rgb(245, 248, 250) !important;
  box-shadow: rgb(203, 214, 226) 0px 0px 0px 1px inset !important;
  border-radius: 3px;
}


.ant-switch.ant-switch-checked  .ant-switch-handle::before {
  position: absolute;
  border-color: rgb(0, 164, 189) !important;
  border: 1px solid rgb(0, 164, 189) !important;
  border-radius: 3px !important;
  
}

.ant-switch.ant-switch-checked  .ant-switch-handle::after{
  
    content: '';
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-48%, -79%) rotate(45deg);
    width: 7px;
    height: 14px;
    border-bottom: 2px solid rgb(0, 164, 189);
    border-right: 2px solid rgb(0, 164, 189);
}

.ant-switch .ant-switch-handle::before {
  position: absolute;
  /* border-color: rgb(0, 164, 189) !important; */
  /* border: 1px solid rgb(0, 164, 189) !important; */
  border-radius: 3px !important;
}

.ant-switch {
  min-width: 50px !important;
  height: 25px !important;
  border-radius: 5px !important;
}

.multiFieldSection .ant-form-item-control-input-content{
  display: flex;
  column-gap: 20px;
}


 .ant-checkbox .ant-checkbox-inner{
  border: 2px solid #0091ae !important;
  border-color: #0091ae !important;
  background-color: transparent !important;
  height: 20px !important;
  width: 20px !important;
}



 .ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox-inner{
  background-color: transparent !important;
}

 .ant-checkbox-inner::after {
  border-color: #0091ae !important; /* Set the desired tick color */
  height: 12px !important;

}

/* search bar */

.generic-input-control input{
  background-color: transparent !important;
}

 .ant-input-affix-wrapper-focused{
  border-color: rgba(0,208,228,.5) !important;
  box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4 !important;
  outline: 0 !important;
}

.fieldWarning{
  border-color: #f2545b;
  box-shadow: 0 0 4px 1px #f2545b, 0 0 0 1px #f2545b;
}
.fieldWarning:focus{
  border-color: #f2545b !important;
  box-shadow: 0 0 4px 1px #f2545b, 0 0 0 1px #f2545b !important;
}


/* tree view */

.ant-tree-select-dropdown .ant-select-tree-checkbox .ant-select-tree-checkbox-inner {
  border-color: #0091ae !important;
  background-color: transparent !important;
  border-width: 2px;
  height: 20px !important;
  width: 20px !important;
}

.ant-tree-select-dropdown .ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
  border-color: #0091ae !important;
  background-color: transparent !important;
  border-width: 2px;
  height: 20px !important;
  width: 20px !important;
}

 .ant-select-selection-overflow{
  margin-top: -17px !important;
}



.ant-tree-select-dropdown .ant-select-tree-checkbox .ant-select-tree-checkbox-inner:after{
  border-color: #0091ae !important;
  height: 11px;
}

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-switcher{
  width: 0px !important;
}



/* step 3 rules */


/* rule */
.rule-heading{
  font-size: 14px;
  font-weight: 600;
}

.validationRules{
  margin-top: 16px;
}

.validationRules-title{
  font-size: 14px;
  line-height: 25px;
  color: #33475b;
}

.validationRules-subTitle{
  color:#516f90;
  font-size: 12px;
}

.validationCheckboxGroup{
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 300;
  margin-top: 2%;
}


 .ant-checkbox .ant-checkbox-inner{
  border: 2px solid rgb(203, 214, 226) !important;
  border-color: rgb(203, 214, 226) !important;
  background-color: rgb(203, 214, 226, 0.3) !important;
  height: 23px !important;
  width: 23px !important;
}



 .ant-checkbox-checked .ant-checkbox-inner{
  border: 2px solid !important;
  border-color: #00a4bd !important;
  background-color: transparent !important;
  height: 23px !important;
  width: 23px !important;
}


 .ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox-inner{
  background-color: transparent !important;

}

 .ant-checkbox-inner::after {
  border-color: #0091ae !important; /* Set the desired tick color */
  height: 12px !important;
  border-width: 3px;
}


.propertyCheckbox .ant-checkbox-inner::after {
  border-color: #0091ae !important; /* Set the desired tick color */
  height: 12px !important;
  border-width: 3px;
}

.small-text{
  color: #516f90!important;
    font-size: 12px;
    line-height: 10px;
}

.numberInput{
  margin: 12px 0px;
  margin-left: 32px;
  width: 50%;
}

.numberInput input{
  margin-top: -2% !important;
  padding-left: 4px !important;
}

.numberInput .ant-input-number-focused{
  
  border-color: rgba(0,208,228,.5) !important;
  box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4 !important;
  outline: 0 !important;
}
.ant-input-number .ant-input-number-handler-wrap{
  opacity: 1;
  width: 35px;
  background-color: rgb(203, 214, 226, 0.3) ;
  font-size: 11px;
}

/* date validate rule */

.ant-picker-focused{
  
  border-color: rgba(0,208,228,.5) !important;
  box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4 !important;
  outline: 0 !important;
}

.dateValidation{
  margin-top: 16px;
  color: #33475b;

}

.dateValidationTitle{
  font-size: 14px;
  color: #33475b;
  font-weight: 300;

}

.mainRadioGroup{
  margin-top: 16px;
  margin-bottom: 16px;
}

.group{
  
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 300;
  margin-top: 2%;
}

.group .ant-radio-wrapper .ant-radio-checked .ant-radio-inner{
  border-color: rgb(0, 164, 189) !important;
  background-color: transparent !important;
  border-width: 1.7px !important;
  width: 20px !important;
  height: 20px  !important;
}


.ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after{
  background-color: rgb(0, 164, 189) !important;
    width: 28px !important;
    height: 28px  !important;
    margin-block-start: -14px !important;
    margin-inline-start: -14px !important;
}

.allowedDays{
  margin: 16px 0px;
}

.genericCheckbox{
  font-weight: 300;
}



.datenumberInput{
  margin: 12px 0px;
  width: 40%;
  font-weight: 300;
  display: flex;
  column-gap: 5px;
}

.datenumberInput input{
  margin-top: -2% !important;
  padding-left: 4px !important;
}

.datenumberInput .ant-input-number-focused{
  
  border-color: rgba(0,208,228,.5) !important;
  box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4 !important;
  outline: 0 !important;
}

.bufferTime{
  margin: 30px 0px;
  
}