
.tab-body{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: rgb(245, 248, 250);
    min-height: 89vh;
    overflow: auto;
}

.tab-grp{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 15%;
    background-color: white;
    padding:50px 20px;
}

.tab-grp li{
    list-style: none;
    background-color: rgb(245, 248, 250);
    padding: 16px 20px;
    font-size: 14px;
    font-weight: 400;
}

.tab-grp li:hover{
    background-color: #e5f5f8;
    cursor: pointer;
}

.activeTab{
    border-left: 4px solid rgb(0, 164, 189);
    background-color: #e5f5f8;
}

.tab-header{
    font-size: 18px;
    font-weight: 400;
    width: 200px;
    border-bottom: 2px solid rgb(0, 164, 189);
    padding-bottom: 5px;
    margin-bottom: 16px;
}


.hr-info, .employment-info, .contract{
    background-color: white;
    box-shadow: 1px 1px 1px rgb(245, 248, 250);
    padding: 16px 20px;
    margin: 2%;
}

.hr-info{
    /* height: 100%; */
}

.contract{
    /* height: 35%; */
}

.employment-info{
    /* width: 100%; */
    height: max-content;
}

.hr-section{
    
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hr-action-footer{
    background-color: rgb(245, 248, 250);
    border-top: 1px solid rgb(203, 214, 226);
    padding: 1rem 140px 1rem 3.25rem;
    position: fixed;
    height: 42.5px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    z-index: 999;
    width: -webkit-fill-available;
    bottom: 0;
}

.ant-select-selection-search {
    margin-top: -25px !important;
}

.edit-comment-icon{
    position: absolute;
    right: 42px;
    display: flex;
    gap: 20px;
    margin-top: -20px;
}

.edit-comment-icon svg{
    color: rgb(124, 152, 182);
    font-size: 12px;
    cursor: pointer;
}

