.site-layout :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table-title{
    padding: 0px !important;
    background: rgb(245, 248, 250);
    border-radius: 0;

}
.site-layout  :where(.css-dev-only-do-not-override-12jzuas).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-title{
    border-bottom: 1px;
    border: 1px solid rgb(223, 227, 235);
}


.grid-table-search-input{
    padding: 0px 6px 4px 6px;
    display: flex;
    border-radius: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sm-btn{
    background-color: #fff;
    border-color: #cbd6e2;
    color: #506e91;

    font-size: 12px;
    line-height: 14px;
    padding: 5px 12px;

    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.sm-btn:hover{
    background-color: #f5f8fa;
    color: #506e91;
}

.editColumn-body{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}

.branchCustomizedTbl td{
    padding: 82px 16px !important;
}

.prev-btn{
    padding: 8px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #0091ae;
    letter-spacing: 0.3px;
}

.prev-btn:hover{
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #0091ae;
    letter-spacing: 0.3px;
}