*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.bg-white{
    background-color: white;
}

.text-center{
    text-align: center !important;
}

.position-center{
    margin: 0 35% 0;
}

.forgetPassword{
    float: right !important;
    margin-top: 1%;
    cursor: pointer;
    color: rgb(0, 145, 174);
}




/* ---------------- Login -------------------*/
.login-title {
    font-size: 1.75rem;
    font-weight: 400;
    color: rgb(51, 71, 91) !important;
    margin-bottom: 7% !important;
}
.login-btn{
    border:none;
    color: #fff !important;
    font-size: 18px;
    line-height: .875rem;
    padding: 0.75em 1.8em;
    font-weight: 400;
    border-width: 1px;
    text-align: center;
    cursor: pointer;
    display: block;
    width: 185px;
    height: 40px;
    border-radius: 29px;
    box-shadow: 0 0 15px rgba(0,0,0,.19);
    background: linear-gradient(90deg,#f85884,#fb8c5f);
}

.login-poster-section{
    margin: 20px 40px;
    position: absolute;
    display: inline-block;
}

.logo{
    width: 45px;
    display: block;
    position: absolute;
}

.logo-text{
    line-height: 40px !important;
    margin: 0 46px;
    font-size: 19px !important;
    position: relative;
    color: rgb(51, 71, 91) !important;
    font-weight: 500 !important;
    width: 135.6px;
    margin-left: 61px;
    letter-spacing: 0.5px;
}

.tm-text {
    position: absolute;
    font-size: 9px;
    top: -4px;
    right: -18px;
}

.custom-checkbox{
    color: rgb(0, 145, 174) !important;
    outline: none !important;
    border: none !important;
}

.custom-checkbox .ant-checkbox-inner {
    background-color: rgb(0, 145, 174) !important; /* Change to desired color */
    border-color: none !important; /* Change to desired color */
    outline: none !important;
}
.custom-checkbox .ant-checkbox-input:checked + .ant-checkbox-inner {   
    background-color: rgb(0, 145, 174) !important; /* Change to desired color */
    border-color: none !important; /* Change to desired color */
    outline: none !important;
}
  
.custom-checkbox .ant-checkbox-input:checked + .ant-checkbox-inner::after {
    
    background-color: rgb(0, 145, 174) !important; /* Change to desired color */
    border-color: none !important; /* Change to desired color */
    outline: none !important;
}

.login-form-container .ant-input:focus{
    box-shadow: 0 0 0 2px rgb(0, 145, 174);
    border-inline-end-width: 1px;
    /* border: none; */
}

.login-form-container .ant-input-error{
    box-shadow: 0 0 0 2px red !important;
    border-inline-end-width: 1px;
    /* border: none; */
}

.login-form-container .ant-input:hover{
    box-shadow: 0 0 0 2px #fb8c5f !important;
    outline: none !important;
    outline-color: #fb8c5f !important;
    border-color: #fb8c5f !important;
}

.login-form-container .helper-text{
    font-size: 12px;
    color:rgba(255, 0, 0, 0.7);
}

/* 
-----------------------------  TOP NAVIGATION BAR ------------------------------ 
*/


.minimize{
    line-height: 37px;
}
.menu-close:hover{
    background-color: red !important;
}
.ant-menu-item-selected{
    background: rgba(255, 255, 241, 0.31) !important;
}
.menu-more{
    transform: rotate(270deg);
}
.top-menu-layout .ant-menu-item-selected{
    background: none !important;
}


/* layout */
.sidebarLayout{
    background-color: white !important;
}
.sidebarIcon{
    font-size: 20px !important;
}
.ant-layout-sider-trigger {
    background: white !important;
    color: black !important;
}
.check-update{
    position: absolute !important;
    bottom: -10px !important;
}

.addFields{
    width: 50%;
    margin: 2%;
}

.createdField{
    
    width: 50%;
    margin: 2%;
}


/* login page */

.loginPoster{
    width: 100%;
    max-width: 800px;
    margin-top: 10%;
    overflow: hidden;
}

.login-form-container{
    display: block;
    position: relative;
    margin: 25% auto 0;
    width: 400px;
}

.login-title{
    color: rgb(51, 71, 91);
    text-align: center;
}


/* ------------- TABLE GRID --------------- */
.grid-head-section{
    padding: 20px 48px 0px;
    display: flex;
    justify-content: space-between !important;
    
}

.grid-title{
    font-size: 20px;
    font-weight: 600;
    color:#0091ae;
}

.grid-subtitle{
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: black;
}

.grid-header-btn{
    margin-left: auto;
    display: flex;
    column-gap: 10px;
}

.grid-outlined-btn{
    border-color: #fb8c5f;
    color:#fb8c5f;
    border-radius: 0 !important;
}

.grid-outlined-btn:hover{
    border-color: #fb8c5f !important;
    color:#fb8c5f !important;
    box-shadow: 0px 0px 2px #fb8c5f !important;
}

.grid-filed-btn{
    border: none;
    background-color: #fb8c5f;
    color: white !important;
    border-radius: 0 !important;
}

.grid-head-right-btn{
    background-color: #eaf0f6;
    border-color: #cbd6e2;
    color: #506e91;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 16px;
}

.grid-filed-btn:hover{
    border: none;
    background-color: #fb8c5f !important;
    color: white !important;
    box-shadow: 0px 0px 2px #fb8c5f;
}

.grid-text-btn{
    padding: 0 !important;
    color:#0091ae !important;
    font-size: 14px;
    font-weight: 600;
}
.grid-text-btn:hover {
    background: none !important;
    color:#33475b !important;
}

.grid-head-left-btn-section{
    display: flex;
    column-gap: 20px;
}


.ant-popover-inner{height: 200px !important;}
.ant-select-dropdown{box-shadow: none !important;}
.ant-select-dropdown {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.ant-select-dropdown::-webkit-scrollbar {
    width: 5px;
}

.ant-select-dropdown::-webkit-scrollbar-track {
    background: transparent;
}

.ant-select-dropdown::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.ant-select-selector{
    height: 40px !important;
    border-radius: inherit !important;
    padding-top: 2% !important;
    margin-top: 2% !important;
}

.ant-select-selector input{
    margin-top: 3% !important;
}



.grid-table-search-input{
    margin-left:-12px;
    width: 200px;
    border-radius: 0px !important   ;
}
