.group-tabs .ant-form-item-control-input-content{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
}

.grptab .ant-select-selection-placeholder{
    top:60% !important;
}